<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>TermPage</title>
</head>
<script language="javascript">
	function edit(i)
		{
			document.getElementById("lblTerm".concat(i)).style.display='none';
			document.getElementById("txtTerm".concat(i)).style.display='';
			document.getElementById("btnUpdate".concat(i)).style.display='';
			document.getElementById("btnEdit".concat(i)).style.display='none';
			document.getElementById("btnDelete".concat(i)).style.display='none';
		}
	function update(i)
		{
			document.getElementById("lblTerm".concat(i)).style.display='';
			document.getElementById("txtTerm".concat(i)).style.display='none';
			document.getElementById("btnUpdate".concat(i)).style.display='none';
			document.getElementById("btnEdit".concat(i)).style.display='';
			document.getElementById("btnDelete".concat(i)).style.display='';
			document.getElementById("lblTerm".concat(i)).innerHTML=document.getElementById("txtTerm".concat(i)).value;
		}

	function update1(termid) {
	    location.href="/sc/term/update/"+termid+""
    }

	function del(termid)
	{
		if(confirm("Delete Confirm?"))
		    location.href="/sc/term/del/"+termid+""
	}
</script>
<body style="text-align: center">
<table width="100%" border="0">
  <tbody>
    <tr>
      <th colspan="3" align="left" valign="top" bgcolor="#06993C" scope="col"><img src="/static/images/term1.png" width="44" height="42" alt=""/>&nbsp;<span style="font-size: 24px; color: #FCFCFC;">Term </span></th>
    </tr>
    <tr>
      <td width="0" bgcolor="#06993C">&nbsp;</td>
      <td width="98%"><table width="100%" border="1" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <th colspan="6" height="25" scope="col"><table width="100%" border="0" cellpadding="0">
              <tbody>
              <form action="term/create" method="POST">
                  {% csrf_token %}
                <tr>
                  <th width="45%" height="19" align="right" valign="middle" bgcolor="#A1A6A3" scope="col">Term:&nbsp;
                    <input name="termname" type="text" class="inputbox1" id="termname">
                    <input name="button" type="submit" class="btn" id="button" value="Submit" ></th>
</tr>
                  </form>
              </tbody>
            </table></th>
            </tr>
          <tr>
            <td width="50%" height="21" align="center" bgcolor="#DEE0DF">&nbsp;<strong>Term &nbsp;</strong></td>
            <td width="50%" height="21" align="center" bgcolor="#DEE0DF" >&nbsp;<strong>Management</strong>&nbsp;</td>
          </tr>
          {% for term in termlist %}
              <tr onMouseOver="this.style.background='#BBF8B3'" onMouseOut="this.style.background='#FFFFFF'">
              <form action="term/update/{{term.termid}}" method="POST">
                  {% csrf_token %}
                  <td onMouseOver="this.style.background='#BBF8B3'" onMouseOut="this.style.background='#FFFFFF'" align="center" bgcolor="#FFFFFF"><label for="textfield" id="lblTerm{{term.termid}}">{{term.termname}}</label>
                      <input size="30" type="text" name="txtTerm{{term.termid}}" id="txtTerm{{term.termid}}" style="display: none" value="{{term.termname}}">
                  </td>
                  <td height="21" align="center">
                        <input type="button" name="button2" id="btnEdit{{term.termid}}" value="Edit" onClick="edit({{term.termid}});">
                        <input type="submit" name="button4" id="btnUpdate{{term.termid}}" value="Update" style="display: none">
                        <input type="button" name="button3" id="btnDelete{{term.termid}}" value="Delete" onClick="del({{term.termid}});">
                  </td>
              </form>
              </tr>
          {% endfor %}
        </tbody>
      </table></td>
      <td width="0" bgcolor="#06993C">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"  bgcolor="#06993C">&nbsp;</td>
    </tr>
  </tbody>
</table>
</body>
</html>
